{% extends "daily_blend_base.html" %}
{% load i18n %}
{% load allauth %}
{% block title %}
    {% trans "Password Reset Email Sent" %}
{% endblock %}
{% block content %}
        <main id="content" role="main">
          <div class="w-full mx-auto min-h-screen bg-white py-10 px-4 sm:px-6 lg:px-8">
            <header>
              <h1 class="block text-2xl font-bold text-gray-800 sm:text-3xl dark:text-white">Password reset email sent</h1>
              <p class="mt-4 text-lg text-gray-800 dark:text-gray-400">
                We have sent you an email. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.
              </p>
              <a href="{% url 'account_login' %}" type="button" class="mt-6 py-3 px-4 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-emerald-500 text-white hover:bg-emerald-600 disabled:opacity-50 disabled:pointer-events-none">
                Back to login
              </a>
            </header>
          </div>
        </main>

{% endblock content %}